@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {
    font-family: Ngaan;
    src: url(./font/I.Ngaan.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

img {
  width: 50px;
}

.banner ul {
  margin: 10px auto ;
  text-align: center;
}

.banner ul li {
  display: inline-block;
  margin: 30px;
}

.banner ul li a {
  color: white;
  text-decoration: none;
  margin: 0 150px;
}


/* 導覽列 */
nav {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    /* padding: 10px 10px; */
    /* 定位：固定 */
    position: fixed;
    /* 上：0 bottom 下 */
    top: 0;
    background: #235bba;
    color: white;
    width: 100%;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

#logo  {
   width: 100%;

}

#nav {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* 對齊項目(垂直) */
    align-items: center;
    text-align: center;
}

#nav li li{
    /* 文字-裝飾 - 底線、刪除線 */
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* 轉場：時間 */
    transition: 0.3s;
}

/* :hover 滑入 */
/* #nav :hover {
    color: #f2a774;
    font-size: 22px;
} */

/* 橫幅 */
#banner {
    /* 背景圖片 */
    background-image: url(./img/coffee1.jpg);
    /* 背景大小：填滿 */
    background-size: cover;

    background-position: center;
    /* 100vh 指的是跟螢幕一樣高 100% v h */
    height: 100vh;
    display: grid;
    color:white;
    text-align: center;
    align-items: center;
}

.content {
    width: 1200px;
    margin: 0 auto;
  }
  
  .content .title {
    text-align: center;
  }
  
  body {
    background-image: url(./img/背景.png);
  }

  .content .title h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 48px 0 57px 0;
  }
  
  .content .title p {
    font-size: 18px;
    margin-bottom: 82px;
  }
  


  .content .productBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
  
  .content .productBox .product img {
    width: 100%;
  }
  
  .content .productBox .product h2 {
    font-size: 30px;
    margin: 10px 0 10px 0;
    text-align: center;
  }
  
  .content .productBox .product p {
    font-size: 18px;
    line-height: 2;
  }

  
  footer {    
    padding: 50px;
    text-align: center;
    background: #4589ad;
    color: white;
  }
  