@font-face {
    /* 字形名稱 */
    font-family: Ngaan;
    /* 字形來源 src url 路徑 */
    src: url(./font/I.Ngaan.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

/* 導覽列 */
nav {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 100px;
    /* 定位：固定 */
    position: fixed;
    /* 上：0 bottom 下 */
    top: 0;
    background: rgba(169, 226, 235);
    color: white;
    width: 100%;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

#logo  {
   width: 100%;

}

#nav {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    /* 對齊項目(垂直) */
    align-items: center;
    text-align: center;
}

#nav a {
    /* 文字-裝飾 - 底線、刪除線 */
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* 轉場：時間 */
    transition: 0.3s;
}

/* :hover 滑入 */
#nav a:hover {
    color: #f2a774;
    font-size: 22px;
}

/* 橫幅 */
#banner {
    /* 背景圖片 */
    background-image: url(./img/coffee.jpg);
    /* 背景大小：填滿 */
    background-size: cover;

    background-position: center;
    /* 100vh 指的是跟螢幕一樣高 100% v h */
    height: 100vh;
    display: grid;
    color:white;
    text-align: center;
    align-items: center;
}

#name ,#email, #call, textarea{
    padding:10px;
    margin:20px auto;
    width:100%;
    border-radius: 5px;
    border:1px solid #d1d1d1;
  }
  
  form {
      width: 600px;
      margin: 30px auto;
      padding: 30px 70px;
  }
  
  h1 {
    text-align:center;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  fieldset {
    margin:10px 0;
    padding:10px 15px;
  }
  
label {
    color:#16b1e0;
}
  
  fieldset label, label[for="agree"]{
    display: inline;
  }
  
  input[type="checkbox"] {
      height: 22px;
      width: 22px;
      vertical-align: middle;
  }
  
  body {
    background:#cad5e6;
  }
  
  input::placeholder{
    color:#8feeff;
  }
  
  #button{
    text-align:center;
    margin-top:30px;
  }
  
  input[type="submit"], input[type="reset"]{
    background-color:#a9c7f5;
    color:#ffffff;
    border:0;
    padding:15px 50px;
    margin:0 10px;
    font-size:10px;
  }

  footer {    
    padding: 100px;
    text-align: center;
    background: #4589ad;
    color: white;
  }